<?xml version='1.0' encoding='utf-8'?>
<widget id="de.lzone.newsagain" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NewsAgain</name>
    <description>Multi-platform news aggregator.</description>
    <author email="lars.windolf@gmx.de" href="https://lzone.de/newsagain">
        Lars Windolf
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="stay-in-webview" value="false" />

    <platform name="android">
        <!--
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="icons/android/res/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="icons/android/res/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="icons/android/res/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="icons/android/res/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="icons/android/res/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />

        <preference name="AndroidInsecureFileModeEnabled" value="true" />
    </platform>
    
    <platform name="electron">
        <icon src="icons/web/icon-192-maskable.png" target="app"/>
        <icon src="icons/web/icon-512-maskable.png" target="installer"/>

        <preference name="ElectronSettingsFilePath" value="electron.json" />
    </platform>
</widget>
