html, body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100vh;
        font-family: Arial;
        color: #222;
        background: white;
}

a {
        color: #222;
        text-decoration: none;
}
a:hover {
        text-decoration: underline;
}

#item, #itemlist, #feedlist {
        height: 100vh;
        overflow-y: auto;
}

header {
        background: #eee;
        border-bottom: 1px solid #ddd;
        position: sticky;
        top: 0;
        z-index: 999;

        display: flex;
}

header .title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        min-width: 0;
        flex: 10 10;
}

#feedlistViewTitle .addBtn {
        padding: 0 0.4rem;
}

#feedlistViewTitle .addBtn:hover {
        background: #ccc;
        cursor: pointer;
}

#itemViewContent {
        padding: 0 0.8rem;
}

.selected {
        background: #eee;
}

.feed, .item {
        cursor: pointer;
        overflow: hidden;
}

.feed {
        display: flex;
}

.feed:hover, .item:hover {
        background: #eee;
}

.feed .title {
        flex: 10 10;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        min-width: 0;
}
.feed .count {
        background: #aaa;
        padding: 0.2rem 0.4rem;
        color: white;
}
.feed .count[data-count="0"] {
        display: none;
}

.item {
        padding: 1rem;
        border-bottom: 1px solid #ddd;
}

.item .title[data-read="false"] {
        font-weight: bold;
}

::-webkit-scrollbar {
        width: 0.3rem;
}
::-webkit-scrollbar-track {
        background: transparent;
}
::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 0.5rem;
        border: transparent;
}

/* split.js */

.gutter {
        background-color: #eee;
    
        background-repeat: no-repeat;
        background-position: 50%;
}

.gutter:hover {
        cursor: col-resize;
}
    
.gutter.gutter-vertical {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
    
.gutter.gutter-horizontal {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

/* modal dialog */

#modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1000; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modalContent {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 800rem;
}

#modalContent input[type="text"] {
        width: 100%;
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
}

#modal .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
}

#modal .close:hover,
#modal .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
}

#modal table {
        border-collapse: collapse;
}
#modal table td {
        border: 1px solid #ccc;
        padding: 1rem;
}