html, body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100vh;
        font-family: Arial;
        color: #222;
}

a {
        color: #222;
        text-decoration: none;
}
a:hover {
        text-decoration: underline;
}

#item, #itemlist, #feedlist {
        height: 100vh;
        overflow-y: auto;
}

#itemViewContent {
        padding: 0 12px;
}

.selected {
        background: #eee;
}

.feed, .item {
        cursor: pointer;
        overflow: hidden;
}

.feed {
        text-overflow: ellipsis;
        white-space: nowrap;
}

.feed:hover, .item:hover {
        background: #eee;
}

.item {
        padding:12px;
        border-bottom: 1px solid #ddd;
}

.item .title {
        font-weight: bold;
}

::-webkit-scrollbar {
        width: 6px;
}
::-webkit-scrollbar-track {
        background: transparent;
}
::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 10px;
        border: transparent;
}
