#wrap {
        height: 100vh;
        display: flex;
}

#main {
        flex: 1;
        display: flex;
}

header {
        display: none;
}

#item {
        width: auto;
        flex: 3;
}

#itemlist {
        outline: 1px solid #ddd;
        width: 20%;
        flex: 1;
}

#feedlist {
        width: 50%;
        background: #fafafa;
        flex: 1;
}

#feedlist > .title {
        padding:12px;
        border-bottom: 1px solid #ddd;
}

.feed {
        padding: 6px 12px;
        font-weight: bold;      
}
.feed .icon {
        height: 16px;
        width: 16px;
        vertical-align: text-bottom;
        margin-right: 6px;
}

