#wrap {
        height: 100vh;
        display: flex;
}

#main {
        flex: 1;
        display: flex;
}

#itemlist header, #item header {
        display: none;
}

#feedlistViewTitle {
        font-size: 1.4rem;
}

#feedlist header {
        height: 1.6rem;
        padding: 0.5rem 0.8rem;
}

#itemlist {
        outline: 1px solid #ddd;
}

#feedlist {
        background: #fafafa;
}

#feedlist > .title {
        padding: 0.8rem;
        border-bottom: 1px solid #ddd;
}

.selected {
        background: #eee;
}

.feed {
        padding: 0.4rem 0.8rem;
        font-weight: bold;      
}
.feed .icon {
        height: 1rem;
        width: 1rem;
        vertical-align: text-bottom;
        margin-right: 0.4rem;
}