#item, #itemlist {
        display: none;
}

#feedlistViewTitle, #itemlistViewTitle, #itemViewTitle {
        font-size: 2rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
}

header {
        height: 2.1rem;
        padding: 0.5rem 0;
}

header .switchView {
        margin-right: 0.4rem;
        padding: 0 0.4rem;
        cursor: pointer;
}

header .switchView:hover {
        background: #ccc;
}

header .icon {
        height: 2rem;
        width: 2rem;
        vertical-align: text-bottom;
}

.feed {
        font-size: 150%;
        border-bottom: 1px solid #ddd;
        padding: 0.8rem;
}

.feed .icon {
        height: 1.5rem;
        width: 1.5rem;
        vertical-align: text-bottom;
        margin-right: 0.5rem;
}

.feed:hover, .item:hover {
        background: #eee;
}

#modalContent input[type="text"] {
        background: #eee;
        color: #444;
        font-size: 1.2rem;
        margin: 0.4rem 0;
}

#modalContent input[type="submit"] {
        padding: 0.5rem 2rem;
        font-size: 1.2rem;
        margin: 0.4rem 0;
}
