#item, #itemlist {
        display: none;
}

#feedlistViewTitle, #itemlistViewTitle, #itemViewTitle {
        font-size: 2rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
}

header {
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0.4rem 0;
        position: sticky;
        top: 0;
        height: 2rem;
        width: 100%;
        font-size: 1.2rem;
        z-index: 999;
        white-space: nowrap;
        text-overflow: ellipsis;
}

header button {
        float: left;
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0 0.8rem;
        background: #ddd;
        color: black;
        height: 2rem;
        width: 2rem;
        border: 0;
        vertical-align: text-bottom;
}

header button:hover {
        background: #ccc;
}

header .icon {
        height: 2rem;
        width: 2rem;
        vertical-align: text-bottom;
        margin-right: 0.5rem;
        float: right;
}

.feed {
        font-size: 150%;
        border-bottom: 1px solid #ddd;
        padding: 0.8rem;
}

.feed .icon {
        height: 1.5rem;
        width: 1.5rem;
        vertical-align: text-bottom;
        margin-right: 0.5rem;
}
