#item, #itemlist {
        display: none;
}

#feedlistViewTitle, #itemlistViewTitle, #itemViewTitle {
        font-size: 2rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
}

#feedlistViewTitle .addBtn:hover {
        background: #ccc;
        cursor: pointer;
}

header {
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0.5rem 0;
        position: sticky;
        top: 0;
        height: 2.1rem;
        font-size: 1.1rem;
        z-index: 999;
        
        display: flex;
}

header .title {        
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        min-width: 0;
        flex: 10 10;
}

header .switchView {
        margin-right: 0.4rem;
        padding: 0 0.4rem
}

header .switchView:hover {
        background: #ccc;
}

header .icon {
        height: 2rem;
        width: 2rem;
        vertical-align: text-bottom;
}

.feed {
        font-size: 150%;
        border-bottom: 1px solid #ddd;
        padding: 0.8rem;
}

.feed .icon {
        height: 1.5rem;
        width: 1.5rem;
        vertical-align: text-bottom;
        margin-right: 0.5rem;
}
